[Unit]
Description=SoCo Box Service
After=network.target iptables.service firewalld.service

[Service]
User=pi
Group=pi
Restart=always
WorkingDirectory=/home/pi/socobox
ExecStart=python3 socobox_daemon.py -v -f config.json

[Install]
WantedBy=multi-user.target
